<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.0.js"
	integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
	crossorigin="anonymous"></script>
</head>
<body>
	This is sample index view page.

	<ul>
		<li><a href="/view/login">로그인</a></li>
		<li><a href="/view/login">회원가입</a></li>
		<li><a href="/view/login">글 리스트</a></li>
	</ul>

	<form name="formname1" id="formname1" style="margin: 0px;">
		<div>
			    <label for="fname">이름</label>         :     <input type="text"
				name="fname" id="fname" value="tony" />
		</div>
		 
		<div>
			    <label for="femail">age</label>     :     <input type="number"
				name="fage" id="fage" value="" />
		</div>
		<div>
			       <input type="button" value="Ajax 폼 전송" onclick="formSubmit()" />
			 
		</div>
	</form>

	<a href="/sample/test2?fname=테스트입니다.&fage=30">xptmxm</a>
	
	<a href="/logout">로그아웃</a>

</body>

<script type="text/javascript">
	function formSubmit() {
		var params = jQuery("#formname1").serialize(); // serialize() : 입력된 모든Element(을)를 문자열의 데이터에 serialize 한다.
		console.log("param : ", params)
		jQuery.ajax({
			url : '/sample/test',
			type : 'POST',
			data : params,
			contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
			dataType : 'html',
			success : function(result) {
				if (result) {
					console.log(data);
					// 데이타 성공일때 이벤트 작성
				}
			}
		});
	}
</script>
</html>