<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wemade.newboard.mapper.PostMapper">
    <select id="getPostById" parameterType="int" resultType="PostDTO">
        SELECT * FROM post WHERE post_no=#{postNo}
    </select>

    <select id="searchPosts" parameterType="String" resultType="PublicPostRes">
        SELECT post.post_no, post.title, post.created_at, user.name
        FROM post LEFT JOIN user ON post.user_no = user.user_no
        WHERE post.title LIKE CONCAT('%', #{keyword}, '%') OR user.name LIKE CONCAT('%', #{keyword}, '%')
            LIMIT #{pagesize}
            <if test="offset!=null">
                OFFSET #{offset}
            </if>
    </select>

    <select id="getPostAll" resultType="PostDTO">
        SELECT * FROM post
    </select>

    <select id="getDetailPostRes" parameterType="int" resultType="DetailPostRes">
        SELECT post.post_no, post.title, user.name, post.contents
        FROM post LEFT JOIN user ON post.user_no = user.user_no WHERE post_no = #{postNo}
    </select>

    <select id="getUserPosts" parameterType="int" resultType="DetailPostRes">
        SELECT post.post_no, post.title, user.name, post.contents
        FROM post LEFT JOIN user ON post.user_no = user.user_no WHERE user.user_no = #{userNo} AND post.is_temp = 0
    </select>

    <select id="getUserTempPosts" parameterType="int" resultType="DetailPostRes">
        SELECT post.post_no, post.title, user.name, post.contents
        FROM post LEFT JOIN user ON post.user_no = user.user_no WHERE user.user_no = #{userNo} AND post.is_temp = 1
    </select>

    <select id="getPostAllByOffset" parameterType="int" resultType="PostDTO">
        SELECT * FROM post LIMIT #{pagesize}
                 <if test="offset!=null">
                     OFFSET #{offset}
                 </if>
    </select>

    <select id="getPublicPostIntroAllByOffset" parameterType="int" resultType="PublicPostRes">
        SELECT post.post_no, post.title,post.created_at, user.name
        FROM post LEFT JOIN user ON post.user_no = user.user_no
        LIMIT #{pagesize}
        <if test="offset!=null">
            OFFSET #{offset}
        </if>
    </select>

    <select id="getPostNoByUserNoAndTitle" resultType="int">
        SELECT post_no
        FROM post
        WHERE user_no=#{userNo} AND title=#{title}}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <insert id="uploadFile" parameterType="FileDTO">
        INSERT INTO file (post_no, user_no, file_path, file_name, file_ext, is_temp)
        VALUES (#{postNo}, #{userNo}, #{filePath}, #{fileName}, #{fileExt}, #{isTemp})
    </insert>

    <insert id="insert" parameterType="PostDTO">
        INSERT INTO post (title, user_no, contents, is_temp)
        VALUES (#{title}, #{userNo}, #{contents}, #{isTemp});
    </insert>

    <update id="update" parameterType="PostDTO">
        UPDATE post
        <set>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="updatedBy != null">
                updated_by=#{updatedBy},
            </if>
            <if test="contents != null">
                contents=#{contents},
            </if>
            <if test="isTemp != null">
                is_temp=#{isTemp},
            </if>
        </set>
            WHERE post_no = #{postNo}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM post
            WHERE post_no=#{postNo}
    </delete>
</mapper>