<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.weboard.mapper.UserMapper">
    <!-- 패키지 만들 때 com. 회사 이름 . 서비스 .
    패키지 경로 풀로 다 쓰지 말고 -->

    <select id="getUserByUserId" parameterType="String" resultType="UserDTO">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>

    <select id="getUserByUserNo" parameterType="int" resultType="UserDTO">
        SELECT * FROM user WHERE user_no = #{userNo}
    </select>

    <select id="getUserByEmail" parameterType="String" resultType="UserDTO">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <select id="getPasswordById" parameterType="int" resultType="String">
        SELECT password FROM user WHERE user_no = #{userNo}
    </select>

    <select id="getEmail" parameterType="String" resultType="String">
        SELECT email FROM user WHERE user_id = #{userId}
    </select>

    <select id="getPasswordById" parameterType="int" resultType="String">
        SELECT password FROM user WHERE user_no = #{userNo}
    </select>

    <insert id="insert" parameterType="SignupParam">
        INSERT INTO user (user_id, name, email, phone, password)
        VALUES (#{userId}, #{name}, #{email}, #{phone}, #{password})
    </insert>

    <update id="update" parameterType="UserDTO">
        UPDATE user
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
        </set>
        WHERE user_no = #{userNo}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM user
            WHERE user_no = #{userNo}
    </delete>

</mapper>